<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew67.ddrfinder">

    <!-- Used for API requests -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
    <!-- Used for Google Maps "My Location" layer
    	See https://developers.google.com/maps/documentation/android-api/config#specify_android_permissions -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
		
    <application
        android:name=".DdrFinderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        android:resizeableActivity="true">
        <activity android:name=".activity.MapViewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="ddrfinder.andrew67.com"
                    android:pathPrefix="/ng"/>
                <data android:scheme="http"/>
                <data android:path="/app"/>
                <data android:path="/app/"/>
                <data android:path="/app/map"/>
                <data android:path="/app/map/"/>
                <data android:pathPrefix="/app/map/@"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.About"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.BrowserActivity"/>

        <!-- Google Maps meta-data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY"/>

        <!-- Firebase Analytics: Disable Advertising ID collection -->
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <!-- Split window meta-data -->
        <meta-data android:name="com.lge.support.SPLIT_WINDOW" android:value="true" />
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip" />
        <meta-data android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable" android:value="true" />
       </application>

</manifest>